<div class="container">
<form action="/update{{post._id}}" method="post">
    <input type="text" name="blogTitle" placeholder="Blog Title" /><br />
    <textarea rows="6" class="25" name="postBody" placeholder="Blog Body">{{post.post}}</textarea><br />
    <input type="submit" value="Edit Post" />
    </form>
</div>